{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

    <h2>Give your feedback!</h2>

    {% for series in seriess %}
        <h4>
            <a href="/series/{{ series.id }}">{{ series.title }} </a>
             year: {{ series.year }}</h4>
    {% endfor %}

{% endblock %}